@import url('./partials/_variables.css');
@import url('./partials/_global.css');

body {
  font-family: 'Roboto', sans-serif;
}

/* start navigation */

.header_area .main-menu .navbar-brand {
  padding: 0 2rem 0 5rem;
  color: blueviolet;
}

.header_area .main-menu .navbar {
  padding: 1rem 10rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end navigation */

/*Banner area*/
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
}

.site-main .site-banner .site-title h3::after {
  content: '';
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
  border-radius: 50%;
}


/* END Banner area*/

/*START ABOUT AREA*/

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: .4rem 0;
}

.about-image > img {
  border-radius: 50%;
  width: 80%;
}

/*END ABOUT AREA*/

/*START SERVICES AREA*/

.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}
.site-main .services-area .services-img span {
  color: var(--primary-color2);
}

/*END SERVICES AREA*/

/* START PROJECT AREA */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .my-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .my-project .my-project-img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf );
}
/* END PROJECT AREA */

/* START REVIEWS AREA */

.site-main .reviews-area .reviews-title {
  padding: 1rem 7rem;
}

.site-main .reviews-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
} 

.site-main .reviews-area .client .client-img {
  padding: 2rem; 
}

.site-main .reviews-area .client .client-info {
  padding-top: 2rem;
}

.site-main .reviews-area .client .client-info h4 {
  font: normal 500 21px/20px var(--roboto);
}

.site-main .reviews-area .client .client-info p {
  font-size: 14px;
}

.site-main .reviews-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .reviews-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* END REVIEWS AREA */

/* START FOOTER AREA */

footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer.png) no-repeat;
  background-size: cover;
  opacity: 0.7;
}

footer.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--primary-color);
}

footer.footer-area .social a > i:hover {
  transform: scale(1.5);
}


/* END FOOTER AREA */